<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ovis_with_gripper">
  <xacro:include filename="$(find ovis_description)/urdf/ovis_arm.xacro"/>
  <xacro:ovis/>
  
  <!-- Add robotiq gripper -->
	<xacro:include filename="$(find robotiq_2f_140_gripper_visualization)/urdf/robotiq_arg2f_140_model_macro.xacro" />
	<xacro:robotiq_arg2f_140 prefix=""/>

  <!-- attach robotiq gripper to ovis flange -->
  <joint name="gripper_base" type="fixed">
    <parent link="ovis_tool0"/>
    <child link="robotiq_arg2f_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- define a virtual pivot point for moveit -->
  <link name="virtual_pivot"/>
  <joint name="moveit_handle" type="fixed">
    <parent link="robotiq_arg2f_base_link"/>
    <child link="virtual_pivot"/>
    <origin xyz="0 0 0.1778" rpy="0 0 0"/>
  </joint>

</robot>
