<?xml version="1.0" ?>

<launch>
    <arg name="test" default="true" />
    <arg name="gui" default="true" />

    <!-- load the urdf -->
    <param name="robot_description" command="xacro '$(find ovis_description)/urdf/ovis_w_gripper.xacro'"/>

    <!-- publish all the frames to TF -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    </node>

    <group  if="$(arg test)">
      <param name="use_gui" value="$(arg gui)"/>
      <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    </group>

    <!-- launch rviz to see the model --> -->
    <node name="rviz" pkg="rviz" type="rviz">
    </node>

</launch>
